<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <title>Web Scraping</title>
</head>


<body>
    <div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-primary" type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </div>

      <div>
        <ul class="list-group list-group-horizontal  justify-content-center" class="./">
          <li class="list-group-item">en yüksek fiyat</li>
          <li class="list-group-item">en düşük fiyat</li>
        </ul>
      </div>

      <div class="d-flex flex-row">
      <div>
            <div class="d-flex flex-row"><form action="/action_page.php" class="form1">
                <b>Fiyat</b>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">0-5000TL</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">5000-7000TL</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">7000-9000</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">9000-12000TL</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">12000TL ve üzeri</label></div>
                </form>
            </div>
            
            <div class="d-flex flex-row"><form action="/action_page.php" class="form1">
                <b>Markası</b>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">Acer</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">Lenovo</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">Asus</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">Apple</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">HP</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">Dell</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">MSI</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">Casper</label></div>
                <div><input type="checkbox"><label class="form-check-label" for="acercheck">Monster</label></div>
                </form>
            </div>
       </div>

      <div>
        <ul class="list-group">
        <!-- 24tane olduğunu düşün -->
            <li class="list-group-item"><a href="laptopunbulundugusiteninlinkiverilecek" title="baslık"><h3>Laptopun adı</h3></a>
                <div>
                    <ul class="list-group list-group-horizontal">
                        <li><a href="n11laptopunlinki" title="Satıcıya Git" rel="nofollow">15.149<i>,99 TL</i><span class="l"><i><img alt="N11" src="//cdn.akakce.com/im/m6/11070.svg"></i></span></a></li>
                        <li><a href="trendyollaptoplinki"  title="Satıcıya Git" rel="nofollow"><span class="pt_v8">15.499<i>,00 TL</i></span><span class="l"><i><img alt="Trendyol" src="//cdn.akakce.com/im/m6/11707.svg"></i></span></a></li>
                        <li><a href="çiçeksepetilaptoplinki"  title="Satıcıya Git" rel="nofollow"><span class="pt_v8">16.000<i>,00 TL</i></span><span class="l"><i><img alt="ÇiçekSepeti" src="//cdn.akakce.com/im/m6/10236.svg"></i></span></a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="list-group">
            <!-- 24tane olduğunu düşün -->
                <li class="list-group-item"><a href="laptopunbulundugusiteninlinkiverilecek" title="baslık"><h3>Laptopun adı</h3></a>
                    <div>
                        <ul class="list-group list-group-horizontal">
                            <li><a href="n11laptopunlinki" title="Satıcıya Git" rel="nofollow">15.149<i>,99 TL</i><span class="l"><i><img alt="N11" src="//cdn.akakce.com/im/m6/11070.svg"></i></span></a></li>
                            <li><a href="trendyollaptoplinki"  title="Satıcıya Git" rel="nofollow"><span class="pt_v8">15.499<i>,00 TL</i></span><span class="l"><i><img alt="Trendyol" src="//cdn.akakce.com/im/m6/11707.svg"></i></span></a></li>
                            <li><a href="çiçeksepetilaptoplinki"  title="Satıcıya Git" rel="nofollow"><span class="pt_v8">16.000<i>,00 TL</i></span><span class="l"><i><img alt="ÇiçekSepeti" src="//cdn.akakce.com/im/m6/10236.svg"></i></span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="list-group">
        <!-- 24tane olduğunu düşün -->
            <li class="list-group-item"><a href="laptopunbulundugusiteninlinkiverilecek" title="baslık"><h3>Laptopun adı</h3></a>
                <div>
                    <ul class="list-group list-group-horizontal">
                        <li><a href="n11laptopunlinki" title="Satıcıya Git" rel="nofollow">15.149<i>,99 TL</i><span class="l"><i><img alt="N11" src="//cdn.akakce.com/im/m6/11070.svg"></i></span></a></li>
                        <li><a href="trendyollaptoplinki"  title="Satıcıya Git" rel="nofollow"><span class="pt_v8">15.499<i>,00 TL</i></span><span class="l"><i><img alt="Trendyol" src="//cdn.akakce.com/im/m6/11707.svg"></i></span></a></li>
                        <li><a href="çiçeksepetilaptoplinki"  title="Satıcıya Git" rel="nofollow"><span class="pt_v8">16.000<i>,00 TL</i></span><span class="l"><i><img alt="ÇiçekSepeti" src="//cdn.akakce.com/im/m6/10236.svg"></i></span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="list-group">
            <!-- 24tane olduğunu düşün -->
                <li class="list-group-item"><a href="laptopunbulundugusiteninlinkiverilecek" title="baslık"><h3>Laptopun adı</h3></a>
                    <div>
                        <ul class="list-group list-group-horizontal">
                            <li><a href="n11laptopunlinki" title="Satıcıya Git" rel="nofollow">15.149<i>,99 TL</i><span class="l"><i><img alt="N11" src="//cdn.akakce.com/im/m6/11070.svg"></i></span></a></li>
                            <li><a href="trendyollaptoplinki"  title="Satıcıya Git" rel="nofollow"><span class="pt_v8">15.499<i>,00 TL</i></span><span class="l"><i><img alt="Trendyol" src="//cdn.akakce.com/im/m6/11707.svg"></i></span></a></li>
                            <li><a href="çiçeksepetilaptoplinki"  title="Satıcıya Git" rel="nofollow"><span class="pt_v8">16.000<i>,00 TL</i></span><span class="l"><i><img alt="ÇiçekSepeti" src="//cdn.akakce.com/im/m6/10236.svg"></i></span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>

      </div> 
    </div>



     <div>
         <ul class="pagination pagination-sm justify-content-center " style="margin:20px 0">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>  
</body>
</html>